.search {
  width: 100%;

  border-radius: 8px;
  margin-bottom: 10px;
  background-color: var(--main-color);
}
.label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  color: var(--second-text-color);
}
@media (min-width: 768px) {
  .search {
    width: 600px;
  }
}
