.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  padding: 40px 20px;
}
.label {
  color: var(--accent-color);
}
.field {
  padding: 8px;
  border: 1px solid var(--accent-color);
  border-radius: 8px;
}
.form > .btn {
  padding: 10px;
  min-width: 240px;
  max-width: 300px;
  border: 1px solid var(--accent-color);
  border-radius: 8px;

  transition: background-color var(--animation-mode);
  &:focus,
  &:hover {
    background-color: var(--second-color);
  }
}
