.item {
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  padding: 6px 8px;
  background-color: var(--second-text-color);
}
.card {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.icon {
  color: var(--accent-color);
  font-size: 20px;
}

.name,
.number {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 22px;
}
.link {
  text-decoration: none;
  transition: scale var(--animation-mode);
  &:hover,
  &:focus {
    scale: 1.05;
  }
}
.buttons {
  display: flex;
  gap: 6px;
}
.delete,
.edit {
  position: relative;
  padding: 4px 6px;
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--second-text-color);
  transition: var(--animation-mode);
}
.delete:focus,
.delete:hover {
  background-color: red;
  border-color: red;
}
.edit:focus,
.edit:hover {
  background-color: rgb(3, 73, 3);
  border-color: rgb(3, 73, 3);
}
.tooltiptext {
  font-size: 16px;
  visibility: hidden;
  width: 200px;
  background-color: var(--main-color);
  color: var(--second-text-color);
  text-align: center;
  border-radius: 8px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 140%;
  left: -200%;
  display: none;
  opacity: 0;
  transition: opacity var(--animation-mode);
}

button:hover .tooltiptext,
button:focus .tooltiptext {
  visibility: visible;
  display: block;
  opacity: 1;
}
