:root {
  --main--bg-color: rgb(11, 4, 43);
  --second--bg-color: rgb(7, 3, 26);
  --main-color: black;
  --second-color: rgb(6, 6, 248);
  --accent-color: darkblue;
  --second-text-color: #d5f5f4;
  --input-color: #768b8b;
  --complete-input-color: #191b1b;
  --animation-mode: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.23;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
